.app-bandsearch .app-bandsearch-box {
    background: #f7f7f7;
    padding: 20px 25px;
}

.app-bandsearch .app-bandsearch-addbandbtn {
    cursor: pointer;
}

.app-bandsearch .app-bandsearch-errors {
    color: #e02323;
    list-style: none;
    margin: 0;
    padding: 0;
}

.app-bandsearch-placeholder--focused {
    position: absolute;
    top: 10px;
    left: 20px;
}

.app-bandsearch-newband {
    max-width: 400px;
}



/* Style overriding */
.app-bandsearch .hac-icon-cal {
    display: none;
}

.app-bandsearch .hac-dd-option.hac-dd-option--is-selected {
    background-color: #00aadb;
    color: white;
}

.app-bandsearch .hac-dd-option {
    padding: 10px;
}

.app-bandsearch .hac-cal-selectorwrapper {
    border-color: transparent;
    border-bottom: 1px solid #e1e1e2;
}

.app-bandsearch .hac-dd-label {
    border: none;
    border-bottom: 1px solid #e1e1e2;
}


.app-bandsearch .hac-cal-date {
    border-bottom-style: none;
}

.app-bandsearch .hac-cal-day--in-range,
.app-bandsearch .hac-cal-day--is-start,
.app-bandsearch .hac-cal-day--is-end,
.app-bandsearch .hac-cal-day--in-rangehover {
    background: #00aadb!important;
    color: white;
}


.app-bandsearch .hac-dd-option:hover {
    background: #00aadb!important;
    color: white;
}